@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900;
  }

  #gameBoard {
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column-gap: 10px;
  }

  #questionColumn div {
    height: 80px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  #contestants-game #gameContestants {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }
}

@layer components {
}
