@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900;
    background-color: rgb(37, 37, 37);
  }

  #__next {
    color: whitesmoke;
  }

  #main-title {
  }

  #gameBoard {
    margin: auto;
    max-width: 1200px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 9px;
  }

  #questionColumn div {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-style: bold;
  }

  #cardContainerChild {
    margin: 10px;
    background-color: rgb(28, 102, 205);
  }

  #contestants-game {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 2fr));
    grid-column-gap: 30px;
    grid-row-gap: 25px;
  }

  #hover-button:hover {
    background-color: white;
    color: black;
  }

  #open-question {
    background-color: rgba(100, 100, 100, 0.67);
    width: 100%;
    height: 100%;
  }
}

@layer components {
}
